*~
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
ltmain.sh
missing
README
src/.deps/
src/Makefile
src/Makefile.in
src/*.o
stamp-h1
Makefile
Makefile.in
